.card{
    border: 0.25rem solid var(--border);
    border-radius: 30px;
    padding: 1rem;
    max-width: 20rem;
    aspect-ratio: 3/2;
    width: 100%;

    a{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 10px;
        color: var(--primary);
        font-size: 1.5rem;
        font-weight: 700;
    }
}