.sidebar-provider{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: min-content auto;
    
    main{
        min-height: 100vh;
        overflow-y: scroll;
        grid-column: 2/3;
    }
    
    .sidebar{
        max-height: 100vh;
        min-width: 10rem;
        max-width: 24rem;
        padding: 1rem;

        .sidebar-wrapper{
            height: 100%;
            display: flex;
            flex-direction: column;
            
            .sidebar-group-items{
                flex: 1;
                
                .sidebar-list-items{
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: center;
                    height: 100%;
                    
                    & > li, a {
                        display: flex;
                        width: 100%;
                        gap:0.25rem;
                        align-items: center;
                        transition: all 0.3s ease-in-out;
                    }
                    
                    & > li{
                        border-radius: 10px;
                        padding: 5px 5px 5px 8px;
                    }
                    
                    & > li:hover{
                        background-color: var(--primary);
                    }
                    
                    & > li > a:hover{
                        color: var(--base);
                    }
                }
            }
            
            .sidebar-brand{
                display: flex;
                flex-direction: column;
                min-height: 1.5rem;
                img{
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }
                
                h2{
                    text-wrap: nowrap;
                }
            }
            
            .sidebar-footer{
                position: relative;
                &:before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 0.25rem;
                    background-color: var(--text-base);
                    opacity: 0.5;
                    border-radius: 50px;
                }
                padding-top: 1rem;
            }
        }
    }
}